{% extends 'eda/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
    <link href="{% static 'tower_database/DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'tower_database/DataTables/datatables.min.js' %}"></script>
    <script 
        src="{% static 'tower_database/practice_list.js' %}"
        data-table_id='tower_table'>
    </script>
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="col-auto">

<h1>{{ title }}</h1>

<p>We believe our listsWe include all towers with 3 or more bells within the area of<br>
the Diocese of Ely (not all of which owned and maintained by the Diocese itself).</p>

    <table id="tower_table" class="table table-responsive table-sm">

        <thead>
            <tr>
                <td class="fw-bold">Day</td>
                <td class="fw-bold">Day</td>
                <td class="fw-bold">Place</td>
                <td class="fw-bold">Bells</td>
                <td class="fw-bold">District</td>
                <td class="fw-bold"></td>
            </tr>
        </thead>

        <tbody class="table-group-divider">

        {% for tower in object_list %}

        <tr class="text-start">

            <td>{{ tower.practice_day }}</td>
            <td>{{ tower.get_practice_day_display }}
            <td>
                <b>
                    <a href="{% url 'tower_detail' tower.id %}">{{ tower.place }}{% if tower.include_dedication %} - {{ tower.dedication }}{% endif %}</a>
                </b>
                {% if tower.practice_weeks %} ({{ tower.practice_weeks_text }}){% endif %}
                {% if tower.travel_check %} (check){% endif %}
            </td>
            <td>{{ tower.bells }}</td>
            <td>{{ tower.get_district_display }}</td>
            <td><a href="{% url 'tower_map' towerid=tower.pk %}">Map</a></td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

</div>

{% endblock %}
