{% extends 'eda/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
    <link href="{% static 'tower_database/DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'tower_database/DataTables/datatables.min.js' %}"></script>
    <script 
        src="{% static 'tower_database/tower_list.js' %}"
        data-group_by="{{ group_by }}"
        data-table_id='tower_table'>
    </script>
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-auto">

<h1>{{ title }}</h1>

<p>We believe our lists include all towers with 3 or more bells within the area of the Diocese of Ely<br>(not all of which owned and maintained by the Diocese itself). This list can be searched, filtered<br>and sorted.</p>

{% if notes %}
<p>{{ notes }}</p>
{% endif %}

    <table id="tower_table" class="table table-responsive table-sm">

        <thead>
            <tr>
                <td class="fw-bold">Place</td>
                <td class="fw-bold">Dedication</td>
                <td class="fw-bold">Bells</td>
                <td class="fw-bold">Ringing status</td>
                <td class="fw-bold">District</td>
                <td class="fw-bold"></td>
            </tr>
        </thead>

        <tbody class="table-group-divider">

    	{% for tower in object_list %}

        <tr class="text-start">

            <td><b><a href="{% url 'tower_detail' tower.id %}">{{ tower.place }}</a></b></td>
            <td>{{ tower.dedication }}</td>
            <td>{{ tower.bells }}</td>
            <td>{{ tower.get_ringing_status_display }}</td>
            <td>{{ tower.get_district_display }}</td>
            <td><a href="{% url 'tower_map' towerid=tower.pk %}">Map</a></td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

{% if district %}
<p>This district as <a href="{% url 'district_geojson' district %}">machine-readable GeoJSON</a></p>
{% endif %}

{% endblock %}
