{% extends 'eda/base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
    {% if fancy %}
    <link href="{% static 'tower_database/DataTables/datatables.min.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% if fancy %}
    <script src="{% static 'tower_database/DataTables/datatables.min.js' %}"></script>
    <script>
    $(document).ready( function () {
        $('#tower_table').DataTable({
            paging: false,
            layout: {
                topStart: {
                    buttons: ['searchPanes'],
                }
            },
            {% if group_by %}
            orderFixed: [{{ group_by }}, '{{ direction|default:'asc' }}'],
            rowGroup: {
                dataSrc: {{ group_by }}
            },
            {% endif %}
            columnDefs: [
                {% if group_by %}
                {
                   target: {{ group_by }},
                   visible: false,
                    searchable: false
                },
                {% endif %}
                {
                    searchPanes: {
                        show: false
                    },
                    targets: [1]
                }
            ]
        });
    } );
    </script>
    {% endif %}
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-auto">

<h1>{{ title }}</h1>

<p>We believe our lists include all towers with 3 or more bells within the area of the Diocese of Ely<br>(not all of which owned and maintained by the Diocese itself). This list can be searched, filtered<br>and sorted.</p>

{% if notes %}
<p>{{ notes }}</p>
{% endif %}

    <table id="tower_table" class="table table-responsive table-sm">

        <thead>
            <tr>
                <td class="fw-bold">Place</td>
                <td class="fw-bold">Dedication</td>
                <td class="fw-bold">Bells</td>
                <td class="fw-bold">Ringing status</td>
                <td class="fw-bold">District</td>
            </tr>
        </thead>

        <tbody class="table-group-divider">

    	{% for tower in object_list %}


		{% if split_by == 'district' %}
		  {% ifchanged %}<tr><td collspan="5"><h2>{{ tower.get_district_display }} District</h2></td></tr>{% endifchanged %}
		{% elif split_by == 'bells' %}
		  {% ifchanged %}<tr><td collspan="5"><h2>{{ tower.bells }} Bells</h2></td></tr>{% endifchanged %}
		{% endif %}

        <tr class="text-start">

            <td><b><a href="{% url 'tower_detail' tower.id %}">{{ tower.place }}</a></b></td>
            <td>{{ tower.dedication }}</td>
            <td>{{ tower.bells }}</td>
            <td>{{ tower.get_ringing_status_display }}</td>
            <td>{{ tower.get_district_display }}</td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}
