<div id="{{ widget.name }}_container">
<input type="text" name="{{ widget.name }}{% include "django/forms/widgets/attrs.html" %}">
<div id="{{ widget.name }}_map" class="position_widget_map_container" style="height: {{ widget.height }}px; width: {{ widget.width }}px">
	Foo
</div>
<script>
	django.jQuery(document).ready(init_position_widget("{{ widget.name }}_map", {{ widget.value|default:"''"}}, {{ widget.lat1 }}, {{ widget.lng1 }}, {{ widget.lat2 }}, {{ widget.lng2 }}, {{ widget.zoom }}))
</script>
</div>
