<!doctype html>

{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}EDA Automation{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'eda/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'eda/eda.css' %}">

    {% block extra_head %}{% endblock %}

  </head>

  <body>

    <div class="col-lg-10 mx-auto px-4">

      <div class="sticky-top">
         <div class="striped"></div>
      </div>

      {% block content %}{% endblock %}

    </div>

    <script src="{% static 'eda/bootstrap.bundle.js' %}"></script>

    {% block extra_js %}{% endblock %}

  </body>

</html>