<!doctype html>

{% load static %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}EDA Automation{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'eda/bootstrap.css' %}">

    {% block extra_head %}{% endblock %}

  </head>

  <body>

    <div class="container-fluid"> 
    {% block content %}{% endblock %}
    </div>

    <script src="{% static 'eda/bootstrap.bundle.js' %}"></script>

    {% block extra_js %}{% endblock %}

  </body>

</html>