
html, body {
      height:100%;
      width:100%;
      margin: 0;
      padding: 0;
      font-size: 1rem;
   }

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.leaflet-control-edamap {
    box-shadow: none;
    background: #fff;
    border-radius: 5px;
    padding: 6px 10px 6px 6px;
    font-size: 13px;
    color: rgb(51, 51, 51);
    border-color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 2px;
}